<div *ngIf="game; else loading" class="p-6 text-white">
  <div class="flex flex-col gap-5 md:flex-row md:gap-6">
    <div class="mx-auto h-[320px] w-[240px] shrink-0 overflow-hidden rounded-2xl bg-card md:max-0">
      <img [src]="game.background_image" alt="{{ game.name }}" class="h-full w-full object-cover">
    </div>
    <div class="flex flex-1 flex-col gap-3"><!-- Informações do jogo -->
      <h1 class="text-2xl font-bold text-foreground md:text-3xl">
        {{ game.name }}
      </h1>

      <p class="text-sm text-placeholder">
        Lançado em
        <span class="text-muted-foreground">
          {{ game.released }}
        </span>
      </p>

      <div class="mt-1">
        <p class="text-sm leading-relaxed text-placeholder line-clamp-4"
          style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;">
          {{ pegaDescricao(game.description_raw) }}
        </p>
        <button type="button"
          class="mt-1 text-sm font-medium text-primary transition-colors hover:text-primary/80 cursor-pointer"
          (click)="alternarDescricao()">
          {{ mostrarCompleto ? 'Ver menos' : 'Ver mais' }}
        </button>
      </div>


    </div>
  </div>

  <!--<h1 class="text-3xl font-bold mb-4">
    {{ game.name }}
  </h1>

  <img 
    [src]="game.background_image"
    class="w-full max-w-2xl rounded mb-4"
  />

  <p class="text-gray-400 mb-4">
    {{ game.description_raw }}
  </p>

  <p>⭐ Nota: {{ game.rating }}</p>
  <p>📅 Lançamento: {{ game.released }}</p>-->

</div>

<ng-template #loading>
  <p class="text-white">Carregando jogo...</p>
</ng-template>